*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KoHo', sans-serif;
}

body{
    background-color: rgba(182, 120, 70, 0.95);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

h1{
    font-size: 55px;
    text-shadow: 1px 1px 5px black;
}
.main-container
{
    position: relative;
    background-color: rgba(207, 166, 133, 0.95);
    width: 700px;
    height: 280px;
    box-shadow: 1px 3px 5px  black, -1px -1px 5px  black;
    text-align: center;
    margin-top: -300px;
}

.main-container h2{
    margin-top: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
}

.main-container .inner-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: -20px;

    
}

.main-container .inner-content #temp, #selector{
    width: 75px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
}

.main-container .inner-content #temp{
    padding: 0px 10px;
    text-shadow: 0px 0px 1px black;

}

.main-container .inner-content #selector{
    width: 95px;
    text-shadow: 0px 0px 1px black;

}

.main-container .inner-content #submit{
    outline: none;
    border: none;
    padding: 8px 20px;
    margin-top: 20px;
    background-color: black;
    color: wheat;
    cursor: pointer;
    font-weight: bold;
}

.main-container .inner-content #submit:active{
    box-shadow: inset -2px -2px 1px rgba(207, 166, 133, 0.95), inset 1px 1px 1px rgba(207, 166, 133, 0.95);
}

.main-container .inner-content #result_Display{
    position: absolute;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 700px;
    text-shadow: 1px 1px 2px black;

}





@media only screen and (max-width: 1025px ){
    .main-container{
        height: 400px;
        width: 700px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,5%);
        

    }

    .main-container .inner-content{
        margin-top: 5px;
    }

    h2{
        font-size: 35px;
    }

    .main-container .inner-content #temp,#selector{
        width: 120px;
        height: 70px;
        font-size: 25px;
    
    }
    
    .main-container .inner-content #selector{
        width: 130px;
    }

     .main-container .inner-content #submit{
        font-size: 25px;
        padding: 15px 30px;
    } 

    .main-container .inner-content #result_Display{
        position: absolute;
        font-size: 45px;
        bottom: -45px;
    }
    
    h1{
        font-size: 75px;
        margin-top: -50px;
    }

}
 



 @media only screen and (min-width: 501px) and (max-width: 900px){
    .main-container
    {   width: 700px;
        position: absolute;
        height: 500px;
        margin-top: -10px;
        top: 200px;
        
    }

    h1{
        margin-top: -300px;
    }

    h2{
        font-size: 40px;
    }

  .main-container .inner-content #result_Display{

        position: absolute;
        bottom: -70px;
        font-size: 50px;
    }

    
}



 @media only screen and (max-width: 500px){


    .main-container
    {   width: 300px;
        height: 500px;
    } 

    h1{
        font-size: 35px;
    }

    h2{
        font-size: 25px;
    }

    .main-container .inner-content #selector{
        font-size: 17px;
    }

    .main-container .inner-content #submit{
        font-size: 15px;
        padding: 15px 25px;
    }

    .main-container .inner-content #result_Display{
            width: 300px;
            bottom: -60px;
            font-size: 2.1rem;
    }

    .main-container,h1{
        margin-top: -230px;
    }

    .main-container .inner-content #temp,#selector{
        width: 100px;
        height:50px;
    }
    
    .main-container .inner-content #selector{
        padding-top: 6px;
    }

    /* body span{
        display: none;
    } */
}

@media only screen and (max-width: 350px){
        h1{
            font-size: 30px;
        }

        .main-container{
            width: 270px;
            height: 450px;
        }

        h2{
            font-size: 22px;
        }

        .main-container .inner-content #temp{
            width: 100px;
            height:48px;
        }

        body span{
            display: none;
        }
}

@media only screen and (max-width: 290px){
    body{
        width: auto;
    }
    .main-container{
        width: 250px;
    }

    h1{
        font-size: 30px;
        width: auto;
        text-align: center;
    }
    .main-container .inner-content #result_Display{
        width: 250px;
        font-size: 25px;
    }

    .main-container .inner-content #temp, #selector{
        width: 100px;
        height:48px;
    }

    body span{
        display: none;
    }

}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-weight: bold;

}

